*{
    background-color: rgb(217, 244, 250);
    text-align: center;
}
#titulo{
    color: blueviolet;
}
#subtitulo{
    color: brown;
}

#palabra{
    background-color: aliceblue;
}


#numeros{
    background-color: aliceblue;
}

#intervalo{
    background-color: aliceblue;
}
